html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  margin: 0;

  color: var(--primary-text);
  background-color: var(--primary-white);
}

:root {
  --primary-text: #757575;
  --title-text: #212121;
  --accent: #2196f3;
  --primary-white: #ffffff;
  --primary-background: #2f303a;
  --secondary-background: #f5f4fa;
  --footer-accent: rgba(255, 255, 255, 60%);
  --header-border-color: #ececec;
  --card-border-color: #eeeeee;
}

.container,
.container-hero,
.container-works {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

.container-hero {
  text-align: center;
}

.container-works {
  padding: 0;
}

.section {
  padding: 94px 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.nav-list,
.feature-list,
.gallery-list,
.team-list,
.contact-list,
.work-list,
.filters-list {
  list-style: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.gallery-img,
.team-image,
.work-img {
  display: block;
}

.bg-nav {
  background-color: var(--primary-white);
}
.main-nav {
  display: flex;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--header-border-color);
}

.nav-list {
  margin-left: 93px;
}

.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-list .nav-item:not(:last-child) {
  margin-right: 50px;
}

.contact-list .contact-item:not(:last-child) {
  margin-right: 50px;
}

/* Логотип */

.logo-web {
  color: var(--accent);
}
.logo-studio {
  color: var(--primary-white);
}
.logo-link {
  color: var(--title-text);
  width: 145px;
}

.logo-link,
.logo-web,
.logo-studio {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

/* Навигация */
.site-nav .nav-link {
  display: block;
  text-decoration: none;
  color: var(--title-text);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-nav .nav-link:hover,
.site-nav .nav-link:focus {
  color: var(--accent);
}

/*Карточки */

.feature-flex,
.team-flex {
  width: 270px;
}

.feature-flex:not(:last-child),
.team-flex:not(:last-child),
.gallery-flex:not(:last-child) {
  margin-right: 30px;
}

.work-flex,
.gallery-flex {
  width: 370px;
}
.work-flex {
  margin-right: 30px;
  margin-bottom: 30px;
}

.work-flex:nth-child(3n) {
  margin-right: 0;
}

.work-flex:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* Контакты в шапке */

.contact-list .link {
  text-decoration: none;
  color: var(--primary-text);
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contact-list {
  margin-left: auto;
}

.contact-list .link:hover,
.contact-list .link:focus {
  color: var(--accent);
}

/* стр.Студия/ Hero */
.section-hero {
  padding: 200px 0;
  background-color: var(--primary-background);
}

.content-hero {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  color: var(--primary-white);
  background-color: var(--primary-background);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 30px;
}

/*  Все заголовки  h2 */

.unit-title {
  color: var(--title-text);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

/*стр.Студия/ Особенности */

.feature-title {
  color: var(--title-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.feature-text {
  font-size: 14px;
  line-height: 1.7;

  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 6px;
}

/* стр.Студия/ Команда */

.team-title {
  color: var(--title-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text);
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* стр.Портфолио/фильтры-кнопки */

.buttons-nav {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 34px;
  padding-bottom: 16px;
  text-align: center;
  width: 611px;
  border-color: grey;
}
.filters-list {
  padding-inline-start: 0;
}

.filters-list:not(:last-child) {
  margin-right: 8px;
}

.button-flex:not(:last-child) {
  margin-right: 8px;
}

.filter-primary {
  color: var(--title-text);
  background-color: var(--secondary-background);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  padding: 6px 21px;
}

.filter-primary:hover,
.filter-primary:focus {
  color: var(--primary-white);
  background-color: var(--accent);
}

.filter-secondary {
  color: var(--primary-white);
  background-color: var(--accent);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;

  border-top-width: 1px;
  border-bottom-width: 1px;
}

/* стр.Студия/галерея работ */

.work-list {
  flex-wrap: wrap;
}

.work-title {
  color: var(--title-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 4px;
}

.work-text {
  font-size: 16px;
  line-height: 1.88;

  margin-top: 0;
  margin-bottom: 0;
}

.work-content {
  padding: 20px 24px;
  background-color: var(--primary-white);
  border: 1px solid var(--card-border-color);
}

/* Адрес в подвале */

.adds-unit,
.adds-list {
  background-color: var(--primary-background);
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.adds-unit {
  padding-top: 60px;
  padding-bottom: 60px;
}

.adds-list {
  padding-top: 20px;
}

.adds-list .location {
  color: var(--primary-white);
}
.adds-list .link {
  color: var(--footer-accent);
}

.adds-list :hover,
.adds-list :focus {
  color: var(--accent);
}

.adds-list .link,
.adds-list .location {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.adds-list .item:not(:last-child) {
  padding-bottom: 9px;
}
